@mixin error-style {
  color: $coral;
  font-size: rem-convert(18px);
  font-weight: 700;
  text-align: left;
}

@mixin error-message-style {
  font-size: rem-convert(14px);
  font-weight: 700;

  a {
    color: $coral;
    font-weight: 700;
    text-decoration: underline;
    text-underline-position: under;
  }
}
